.App {
  text-align: center;
}

.App-header {
  background-color: white;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: teal;
}

.App-body {
  margin-top: 100px; 
}